{% extends "AppNetflix/base.html" %}
{% load static %}

{% block section1 %}
    <!-- Content section 1-->
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'AppNetflix/assets/img/inicio/breakingbad.jpg' %}" alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">SERIES Y PELÍCULAS</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 2-->
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'AppNetflix/assets/img/inicio/interestellar.jpg' %}" alt="..." /></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">TODA LA INFORMACIÓN QUE NECESITAS AQUÍ</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}